<style media="screen">
    .btn-red{ padding:10px; background: #fc0202; color:#fff;}
    .btn-blue{ padding:10px; background: #02496d; color:#fff;}
    .btn-green{ padding:10px; background: #338401; color:#fff;}
    .solid{
      border-style: solid; border-width: 4px; border-color: #000;
    }
    .dotted{
      border-style: dotted; border-width: 4px; border-color: #000;
    }
    .double{
      border-style: double; border-width: 4px; border-color: #000;
    }
    .ridge{
      border-style: ridge; border-width: 4px;
    }
    .inset{
      border-style: inset; border-width: 4px;
    }
    .outset{
      border-style: outset; border-width: 4px;
    }
    .round{
      border-radius:20px;
    }
  </style>