<style media="screen">
    div.box{
      display:inline-block;
      width: 100px;
      float: left;
      border: 2px solid #ddd;
      margin: 10px;
    }
    div.box img{
      width:auto;
      height: 200px;
    }
    div.box:hover{
      border: 3px solid #000;
    }
    div.box div.deskripsi{
      padding:15px;
      text-align:center;
    }
  </style>
