<style media="screen">
      div.article{
        width:80%;
        margin:0 auto;
        column-count:3; column-gap: 30px;
        column-rule-style: solid;
        column-rule-width: 2px;
        column-rule-color: #000;
        background: #012051;
        color:#fff; padding:10px;
      }
      @media only screen and (max-width:768px){
        div.article{
          width:80%;
          margin:0 auto;
          column-count:2; column-gap: 30px;
          column-rule-style: solid;
          column-rule-width: 2px;
          column-rule-color: #000;
          background:#50011a;
          color:#fff; padding:10px;
        }
      }
      @media only screen and (max-width:600px){
        div.article{
          width:80%;
          margin:0 auto;
          column-count:1; column-gap: 30px;
          column-rule-style: solid;
          column-rule-width: 2px;
          column-rule-color: #000;
          background:#00510c;
          color:#fff;
          padding:10px;
        }
      }
    </style>
